[host]
reg_url = https://photo.leafe.com/register
dl_url = https://com-leafe-images.nyc3.cdn.digitaloceanspaces.com/photoviewer

[frame]
pkid = PKID
name = FRAMENAME
description = FRAMEDESC
orientation = horizontal
interval_base = *:*
interval_time = 1
interval_units = hours
log_level = INFO

[monitor]
brightness = 1.0
contrast = 1.0
saturation = 1.0
