[host]
reg_url = https://photo.leafe.com/register
dl_url = https://photo.leafe.com/download
check_url = https://photo.leafe.com/frame/PKID/status

[frame]
name = *NAME*
description = *DESC*
orientation = horizontal
interval_base = *:*
interval_time = 1
interval_units = hours
host_check = 10
host_check_units = minutes
log_level = INFO
pkid = 00000000-0000-0000-0000-000000000000

[frameset]
name = 

